* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.container {
  padding: 20px;
  background-color: #eeeeee;
}

.link {
  text-decoration: none;
  color: inherit;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.row > div:first-child {
  border-left: 2px solid white;
}
.row > div:last-child {
  border-right: 2px solid white;
}
.row__eighth .cell__box {
  background-color: #8fd6fb;
  border-top: 2px solid white;
}
.row__eighth div:nth-child(2n+1) .cell__box {
  background-color: #add5f7;
}
.row__seventh .cell__box {
  background-color: #6a1b9a;
}
.row__seventh div:nth-child(2n) .cell__box {
  background-color: #9c27b0;
}
.row__sixth .cell__box {
  background-color: #0d47a1;
}
.row__sixth div:nth-child(2n+1) .cell__box {
  background-color: #1565c0;
}
.row__fifth .cell__box {
  background-color: #139aff;
}
.row__fifth div:nth-child(2n) .cell__box {
  background-color: #4fc3f7;
}
.row__fourth .cell__box {
  background-color: #2e7d32;
}
.row__fourth div:nth-child(2n+1) .cell__box {
  background-color: #66bb6a;
}
.row__third .cell__box {
  background-color: #ffd600;
}
.row__third div:nth-child(2n) .cell__box {
  background-color: #ffeb3b;
}
.row__second .cell__box {
  background-color: #f2600c;
}
.row__second div:nth-child(2n+1) .cell__box {
  background-color: #ff8533;
}
.row__first .cell__box {
  background-color: #d40d12;
  border-bottom: 2px solid white;
}
.row__first div:nth-child(2n) .cell__box {
  background-color: #ef5350;
}

.cell__box {
  width: 170px;
  height: 170px;
  padding: 16px;
  border: 1px solid white;
}
.cell__flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.cell__number {
  font-size: 48px;
  font-weight: 700;
  color: white;
  margin: 0;
}
.cell__geks {
  fill: white;
}
.cell__title {
  color: #212121;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
}
.cell__link img {
  width: 350px;
  border-color: none;
  border-radius: 25px;
}

.gallery {
  position: relative;
  padding: 58px;
}

.gallery-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: 0;
  margin-top: 30px;
}

.gallery-item {
  display: block;
  flex: 25%;
  overflow: hidden;
  position: relative;
}

.gallery-item-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 2;
}

.gallery-item:hover .gallery-item-hover {
  opacity: 1;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
  transition: all 0.5s ease;
}

@media (max-width: 991px) {
  .gallery-item {
    flex: 33.3%;
  }
}
@media (max-width: 768px) {
  .gallery-item {
    flex: 50%;
  }
}
@media (max-width: 530px) {
  .gallery-item {
    flex: 100%;
  }
}
.visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */